<script>
    new WOW().init();
</script>
    
<!-- Header -->
    <a name="about"></a>
    
        
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="3000">
              <!-- Indicators -->
              
              <!-- Wrapper for slides -->
              <div class="carousel-inner" role="listbox">
                <div class="item active">
                  <img src="/lab3.1.jpg" alt="...">
                  <div class="carousel-caption">
                        <div class="intro-message">
                            <h1>Tecn&oacute;logo en Inform&aacute;tica</h1>
                            <h3>Paysand&uacute;</h3>
                        </div>
                  </div>
                </div>
                <div class="item">
                  <img src="/lab2.jpg" alt="...">
                  <div class="carousel-caption">
                      <div class="intro-message">
                        <h1>Tecn&oacute;logo en Inform&aacute;tica</h1>
                            <h3>Paysand&uacute;</h3>
                        </div>
                  </div>
                </div>
                
              </div>
            
            </div>
        
            
        
        
    
    <!-- Page Content -->

    <a name="services"></a>
    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Ambiente:<br>Salones y Laboratorios</h2>
                    <p class="lead">Espacios amplios, limpios e iluminados, equipados con lo necesario para generar un ambiente favorable al estudio. Computadoras, Smart TVs, proyectores, 
                                    escritorios y todo lo que el estudiante puede llegar a necesitar
                        <br>
                        <br>
                        <a href="/acercade" class="btn btn-default btn-md">
                                <i class="fa fa-university fa-fw"></i> 
                                <span class="network-name">
                                    Ver M&aacute;s
                                </span>
                        </a>
                    </p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive sombra wow fadeInRight animated" data-wow-delay="0.5s" data-wow-duration="0.15s" src="/lab2.jpg" alt="">
                </div> 
            </div>

        </div>
        <!-- /.container src="http://pngimg.com/upload/tablet_PNG8565.png" -->

    </div>

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Requisitos de Ingreso</h2>
                    <p class="lead"> 
                        Pueden ingresar a la carrera tanto egresados del “Bachillerato Tecnol&oacute;gico de Procesamiento y Mantenimiento Inform&aacute;tico”, de la “Enseñanza Media Tecnol&oacute;gica en Inform&aacute;tica” y de los “Bachilleratos de Educaci&oacute;n Secundaria” que habiliten el ingreso a la Facultad de Ingenier&iacute;a.
                    </p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive sombra wow fadeInLeft animated" data-wow-delay="0.5s" data-wow-duration="0.15s" src="/documents.jpg" alt="">
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Perfil del egresado: </h2>
                    <p class="lead">El Tecn&oacute;logo en Inform&aacute;tica ser&aacute; capaz de desarrollar sistemas de pequeño y mediano porte y
                                    podr&aacute; integrarse a grupos de desarrollo de proyectos de porte superior. 
                                    <br>
                                    <br>
                                    Contar&aacute; con la habilidad de construir y evaluar soluciones inform&aacute;ticas abarcando las tareas de 
                                    construcci&oacute;n, pruebas y documentaci&oacute;n, integrando eventualmente distintas tecnolog&iacute;as. 
                                    <br>
                                    <br>
                                    Poseer&aacute; habilidades de comunicaci&oacute;n, tanto para presentar sus soluciones dentro del &aacute;rea, como
                                    para interactuar con profesionales de otras &aacute;reas y p&uacute;blico en general. Esto incluye la capacidad
                                    de trabajar en equipo en todos los aspectos de su actividad.
                                    <br>
                                    <br>
                                    <a href="/egresados" class="btn btn-default btn-md">
                                        <i class="fa fa-university fa-fw"></i> 
                                        <span class="network-name">
                                            Ver M&aacute;s
                                        </span>
                                    </a>
                    </p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive sombra wow pulse animated" data-wow-delay="300ms" data-wow-iteration="4" data-wow-duration="2s" src="/bannerTecno.jpg" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>

    <a  name="contact"></a>
    <div class="banner">

        <div class="container">

            <div class="row">
                <div class="col-lg-6">
                    <h2>Ven&iacute; a estudiar al Tecn&oacute;logo en Paysand&uacute;</h2>
                </div>
                <div class="col-lg-6">
                    <ul class="list-inline banner-social-buttons">
                        <li>
                            <a href="/contacts" class="btn btn-primary btn-lg"><i class="fa fa-envelope fa-fw"></i> <span class="network-name">Contacto</span></a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <!-- /.container -->

   </div>