<% provide(:title, "Contacto") %> 
    <div class="container" id="about">
        <head>
        <div class="head">
            <h3>CONTACTO</h3>
            </br>
        </div>   
        </head>
        <div class="otrascosas">
        <div class="imagen">
            <img src="/logo TIP.jpg" width="200" height="200">
        </div>
        <div class="info">
                <ul class="nav">
                    <li><p>PAYSANDÚ</p></li><br>
                    <li> 
                        <p>Coordinadora: Ana Iruleguy tipay.2009@gmail.com></p>
                    </li>
                    <br>
                    <li>
                        <p>
                            Centro Universitario de Paysand&uacute; (CUP)
                            Direcci&oacute;n: Florida 1051
                            Teléfonos: 472.20221 - 472.22291 - 472.38342
                        </p>
                    </li>
                    <br>
                    <li>
                        <p>
                            Instituto Tecnol&oacute;gico Superior de Paysand&uacute; (ITSP)
                            Direcci&oacute;n: Sarand&iacute; 1138
                            Teléfonos: 472.29685 - 472.42917
                        </p>
                    </li>
                    <br>
                    <li>
                        <p>
                            UTU Central - Coordinaci&oacute;n Ejecutiva de Tecnélogos
                        </p>
                    </li>
                    <br>
                    <li>
                        <p>
                            Mario Furest <coordinaciontecnologos@gmail.com>
                            Karina Giovanazzi <secretcoordinaciontecnologos@gmail.com>
                            Oficina Cero - San Salvador 1674 - Montevideo
                            Tels: 2419.8488 - 2412.2859 int. 23
                        </p>
                    </li>
                    <br>
                    <li>
                        <p>
                            Comisi&oacute;n de Carrera
                        </p>
                    </li>
                    <br>
                    <li>
                        <p>
                            Paysand&uacute; :
                            <ul class="nav">
                                <li>
                                    <p>
                                        Eduardo Demichelis (UTU)
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        Pedro Etchemendy (UDELAR)
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        Pablo Ledesma (UTU)
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        Gast&oacute;n Notte (UDELAR)
                                    </p>
                                </li>
                            </ul>
                        </p>
                    </li> 
            </ul>
        </div>
    </div>
    <div class="mostrar">
        <h1>Contacto <%= @nombre %></h1>
        <br>
        <form class="form-inline">
            <div class="input-control text" data-role="input-control">
                Nombre  :&nbsp;&nbsp;&nbsp;
                <input type="text" name="nombre" class="textfield">
            </div>
            <br>
      
            <div class="input-control text" data-role="input-control">
                Correo  :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="email" class="textfield">
            </div>
            <br>
      
            <div class="input-control text" data-role="input-control">
                Asunto  :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="text" class="textfield">
            </div>
            <br>
      
            <div class="input-control text" data-role="input-control">
                Mensaje  :&nbsp;&nbsp;&nbsp;
                <textarea name="area" class="textarea" style="resize:none;"></textarea>
            </div>
            <br>
            <div class="input-control text" data-role="input-control">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                <input type="submit" class="btn-primary" value="Enviar">
            </div> 
        </form>
    </div>                                                                 
</div>