<div class="container" style="margin-top:40px;">
   
   <div class="row">
     <div class="col-xs-6 col-xs-offset-3">   
       <%= form_tag({:controller => "evento", :action => "crear"}, :method => "post" ,:multipart => true ,:role => 'form') do %>
         <div class="form-group">
           <%= label_tag "nombre", "Titulo" %>
           <%= text_field_tag "titulo", "",:class => "form-control", :required => "required" %>
         </div>
         
         <div class="form-group">
           <%= label_tag "Comentario", "Contenido" %>
           <%= text_area_tag "cuerpo","",:class => "form-control"%>
         </div>

       <%= hidden_field_tag "fecha",session[:fecha],:class => "form-control" %>

       <div class="form-group">
          <%= label_tag "Comentario", "Hora de inicio" %>

          <%= time_select("inicio", "mostrar", {:minute_step => 30}) %>
       </div>
       
       <div class="form-group">
         <%= label_tag "Comentario", "Archivo a subir" %>
         <%= file_field_tag "archivo" %>
         
         <% if @formato_erroneo %>
           <div>
            <p> El formato ingresado es incorrecto. </p>
           </div>
         <% end %>
       </div>
       
       <br>
       
       <div class="form-group">
          <div class="col-sm-8 col-sm-offset-7">
             <%= link_to 'Cancelar', principal_index_path, :class => "btn btn-md btn-default" %>
             <%= submit_tag "Guardar evento",:class => "btn btn-md btn-primary" %>
          </div>
       </div>
     <%end %>
    </div>
   </div>
</div>

<% if @mensaje %>
   <p> <strong><%= @mensaje %></strong></p>
<% end %>
<%  session[:fecha]=nil %>

