
<div class="container" style="margin-top: 50px;">
    <div class="users row">
        <% @users.each do |user| %>
        <div class="panel panel-default">
            <%= link_to user_path(user) do %>
            <div class="panel-body">
                <%= image_tag(user.avatar.url(:thumb)) %>
                <p><%= user.full_name %></p>
                <p><%= link_to "Edit", edit_user_path(user) %></p>
            </div>
            <% end %>
        </div>
        <% end %>
    </div>
</div>


</div>

<style>
    footer{
        bottom:0;
    }
</style>


