<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Olvid&oacute; su Contraseña?</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: 'form-horizontal' }) do |f| %>
            <%= devise_error_messages! %>
            <div class="form-group">
                <div class="col-md-5">
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                        <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Email" %>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="input-group">
                        <%= f.submit "Restablecer Contraseña", class: "btn btn-primary btn-block"%>
                    </div>
                </div>
            </div>
                
            <div class="form-group">
                <div class="col-md-8">
                    <%= render "users/shared/links" %>
                </div>
            </div>
            <% end %>
        </div>
    </div>
</div>
