
/* Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/*/

@import "style.css.scss";

.contaSty{
    background-color:#E4E6E6;
    /*margin-top: 50px;*/
}

.btnmap{
    margin-bottom: 10px;
}

.mapa{
    margin-top:20px;
    margin-left:20px;
    margin-right:20px;
}