
<!--Este cabezal es el cl&aacute;sico-->
<nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
  <div class="container topnav">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <%= link_to image_tag("logo.png", alt: " "), root_path %>
    </div>

    <div class="collapse navbar-collapse" id="navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
            
            <li>
                <a href="#about">Acerca de</a>
            </li>
            <li>
                <a href="#services">Servicios</a>
            </li>
            <li>
                <a href="#contact">Contacto</a>
            </li>
                
            <% if current_user %>
                <li><%= link_to 'Cerrar Sesión', destroy_user_session_path, method: :delete %></li>
                <li><%= link_to 'Editar Perfil',edit_user_registration_path %></li>
                <li class="round-image-50"><%= image_tag(current_user.avatar.url(:thumb)) %></li>
            <% else %>
                <li><%= link_to 'Iniciar Sesión', new_user_session_path %></li>
            <% end %>
        </ul>
    </div>
  </div>
</nav>