<div class="container">
    <div class="row">
        <div class="col-lg-12 col-lg-offset-1"> 

            <h2>Editar Usuario</h2>
            
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: 'form-horizontal' }) do |f| %>
            <%= devise_error_messages! %>
            
            <div class="form-group">
            <%= f.label :avatar, class: 'col-sm-2 control-label'  %>
            <div class="col-sm-6">
                <%= f.file_field :avatar, id:"user_avatar", accept: 'image/jpeg,image/gif,image/png' %>
            </div>
            </div>
            
            <div class="form-group">
            <%= f.label :Nombre, class: 'col-sm-2 control-label'  %>
            <div class="col-sm-6">
                <%= f.text_field :name, autofocus: true, class: 'form-control'  %>
            </div>
            </div>
            
            <div class="form-group">
            <%= f.label :Apellido, class: 'col-sm-2 control-label'  %>
            <div class="col-sm-6">
                <%= f.text_field :last_name, autofocus: true, class: 'form-control'  %>
            </div>
            </div>
            
            <div class="form-group">
            <%= f.label :is_female, "Sexo", class: 'col-sm-2 control-label'  %>
            <div class="col-sm-6">
                <%= f.radio_button :is_female, true %> <%= f.label :is_female, "Femenino" %>
                <%= f.radio_button :is_female, false %> <%= f.label :is_female, "Masculino" %>
            </div>
            </div>
            
            
            <div class="form-group">
                <%= f.label :Fecha_de_nacimiento, class: 'col-sm-2 control-label'  %>
                <div class="col-sm-6">
                    <%= f.date_select :date_of_birth, start_year: 2000, end_year: 1950, class: 'form-control'%>
                </div>
            </div>
            
            <div class="form-group">
                <%= f.label :Email, class: 'col-sm-2 control-label'  %>
                <div class="col-sm-6">
                    <%= f.email_field :email, class: 'form-control'  %>
                </div>
            </div>
            
            <div class="form-group">
                <%= f.label :password,"Nueva Contraseña", class: 'col-sm-2 control-label'  %> <i></i>
                <div class="col-sm-6">
                    <%= f.password_field :password, autocomplete: "off", class: 'form-control', 
                        placeholder:'Dejar este campo en blanco si no quiere cambiar su contraseña'  %>
                </div>
            </div>
            
            
            <div class="form-group">
                <%= f.label :password_confirmation,"Confirmar contraseña", class: 'col-sm-2 control-label' %>
                <div class="col-sm-6">
                    <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control'  %>
                </div>
            </div>
            
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-6">
                    <%= f.submit "Guardar", class: "btn btn-primary" %>
                </div>
            </div>
            
            
            <% end %>
            
            
            
            <p>
            
            <%= button_to "Borrar Mi Cuenta", registration_path(resource_name), 
                data: { confirm: "Seguro?" }, 
                method: :delete, class: 'btn btn-danger btn-md' %>
                </p>
            
        </div>
    </div>
</div>
<script>
$('#user_avatar').bind('change', function() {
  var size_in_megabytes = this.files[0].size/1024/1024;
  if (size_in_megabytes > 1) {
    alert('Maximo permitido 1MB. Por favor elija otro avatar');
  }
});
</script>